doctype html
html(lang='en')
  head
    title Cards
  body
    header.uikit
      include ../../includes/header__uikit.pug
    .cards
        .container
            .cards__inner
                include ../../cards/card_find_room.pug