.card-find
    background: #fff
    width: 23.75rem
    height: 23.375rem
    border: 0.0625rem solid rgba(0, 0, 0, 0.12)
    box-sizing: border-box
    box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2)
    border-radius: 0.25rem
    .card-find__date
        display: flex