@import ../sass/utils/form-date
@import ../sass/card-find-room
@import ../sass/utils/form-guests
@import ../sass/utils/btn
@import ../sass/utils/card__btn
body
    margin: 0
    background: #e5e5e5
.logo__uikit
    margin: 1.7rem 0rem 4.1rem 1.7rem
.cards
    .container
        display: flex
        margin: 0rem 8.2rem 0rem 8.2rem