@import ../sass/type
@import ../sass/utils/btn

.header__inner
    display: flex
    justify-content: space-between
    align-items: center
    height: 4.1rem
.header__logo
    background-image: url(../img/logo2.png)
    background-size: cover
    height: 2.5rem
    width: 6.625rem
.header__menu
    display: flex
.header__nav 
    ul
        display: flex
    li
        list-style-type: none
        a
            text-decoration: none
            @extend %body
            color: $dark-shade-50
            &:hover
                @extend %hover
        i
            @extend %materialIcons  
            &:hover
                @extend %hover 
    li
        padding-right: 1.875em
    li.services
            padding-right: 1.275rem 
.header__user
    display: flex
    align-items: center
    #user
        padding-left: 2.5rem
        border-left: .0625rem solid $dark-shade-10
        a
            text-decoration: none
            @extend %body
            color: $dark-shade-50
            &:hover
                @extend %hover
.header__btns
    @extend %body
    display: flex
    justify-content: space-between
    width: 11.8rem


    

