@import ../sass/colours
@import ../sass/montserrat
@import ../sass/quicksand


%h1
    font:
        family: 'Quicksand', sans-serif
        weight: bold
        size: 1.469rem
    line-height: 1.875rem
    color: $dark-shade
%h2
    font:
        family: 'Quicksand', sans-serif
        weight: bold
        size: 1.2rem
    line-height: 1.5rem
    color: $dark-shade
%h3
    font:
        family: 'Montserrat', sans-serif
        weight: bold
        size: .75rem
    line-height: .938rem
    text-transform: uppercase
    color: $dark-shade
%body
    font:
        family: 'Montserrat', sans-serif
        size: .875rem
    line-height: 1.5rem
    color: $dark-shade-75


