.btn
    a.btn_type1, a.btn_type2
        background: linear-gradient(#bc9cff, #8ba4f9)
        border-radius: 1.375rem
        color: #bc9cff
        display: inline-block
        font-size: 0.7rem
        padding: 0.125rem
        text-decoration: none
        font-weight: bold
        text-shadow: none
        span 
            background: #ffffff
            display: block
            padding: 0.1rem 1.1rem
            border-radius: 1.375rem
    a.btn_type2
        color: #ffffff  
        span
            background: none