@import ../type
.form-date
    .form-date__title
        h1
            @extend %h3
    .form-date__inner
        @extend %body
        display: flex
        align-items: center
        justify-content: space-between
        width: 8.7rem
        height: 2.45rem
        margin-top: -0.3rem
        border-radius: 0.25rem
        border: 0.0625rem solid $dark-shade-25
        input
            border: none
            margin-left: 0.9rem
            background-color: transparent
            width: 5.7rem
        i
            @extend %materialIcons
            margin-right: 0.5rem