mixin btn(type, title)
    .btn
        if type
            a(class= 'btn_type1' href='#')
                span= title
        else
            a(class= 'btn_type2' href='#')
                span= title

        
