mixin footer()
    footer.footer
        .container
            .footer__inner
                .footer__widgets
                    .footer__title
                        .logo
                        .footer__text
                    .footer__navigation
                    .footer__about
                    .footer__support
                    .footer__subscribe
                        .footer__subscribe-title
                        .footer__subscribe-text
                        .footer__subscribe-form
                .footer__copyright
                    .footer__copyright-text
                    .footer__copyright-icons