header.header
    .container
        .header__logo
        .header__nav
            ul
                li Home
                li About Us
                li Services
                li Careers
                li News
                li Documentation
            .header__login
            .header__username
