mixin header(Pages, User)
    header.header
        .container
            .header__inner
                .header__logo
                .header__menu
                    .header__nav
                        ul
                            each page in Header__menu
                                li(class=page.class)
                                    a(href= page.href)= page.name
                                    i= page.icon

                    .header__user
                        if User.name
                            #user
                                a(href=User.href)= User.name
                        else
                            .header__btns
                                include ../utils/btn.pug
                                +btn(true, 'LOGIN')
                                +btn(false, 'REGISTER')

